{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2>About OfficialFakeID</h2>
        <p class="lead">Our mission at OfficialFakeID is to offer top-notch Novelty IDs delivered quickly, and at affordable prices for all. We're dedicated to the quality of all our products, as well as ensuring all of our products are virtually indistinguishable from the real thing.</p>
        <hr>
        <p>We focus on fast fulfillment, consistent quality control, and excellent customer support. If you have questions about our process or products, please get in touch via the Contact page.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}